# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js
/server/node_modules
/server/.pnp
/server/.pnp.js

# testing
/client/coverage
/server/coverage

# next.js
/client/.next/
/client/.next/
/client/out/
/client/out/

# production
/client/build
/server/build

# misc
/client/.DS_Store
/client/*.pem
/server/.DS_Store
/server/*.pem

# debug
###client
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/.pnpm-debug.log*
###server
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/.pnpm-debug.log*

# local env files
/client/.env*.local
/server/.env*.local

# vercel
/client/.vercel
/server/.vercel

# typescript
/client/*.tsbuildinfo
/server/*.tsbuildinfo
